<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Welcome <%= Name %></h1>

    <p>
    <a href='/auth/login'> logout</a>
    </p>

    <p>
    <a href='/auth/lotte'> 롯데 인증하기</a>
    </p>

    <p>
    <a href='/auth/shinla'> 신라 인증하기</a>
    </p>

    <p>
    <a href='/auth/ssg'> 신세계 인증하기</a>
    </p>






  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
</html>
